/* ================Part5================= */

/* #box{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */


/* ================Part7================= */

/* #box{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */


/* ================Part8================= */

/* #box{
    height: 180px;
    width: 120px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */


/* ================Part10================= */

.content{
    color: red;
}

.newClass{
    background-color: green;
}

